.container {
  padding: 20px;
}

mat-card {
  margin-bottom: 20px;
}

mat-card-title {
  font-size: 1.5em;
  font-weight: bold;
}

mat-card-content p {
  font-size: 1.2em;
  line-height: 1.5;
}

mat-card-actions {
  display: flex;
  justify-content: flex-end;
}

mat-card-actions button {
  margin-left: 10px;
}
